{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jurassic Park</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'jp/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'jp/css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Tables
                    </a>
                </li>
                <li>
                    <a href="#dinosaur">Dinosaurs</a>
                </li>
                <li>
                    <a href="#visitor">Visitors</a>
                </li>
                <li>
                    <a href="#employee">Employees</a>
                </li>
                <li>
                    <a href="#exhibit">Exhibits</a>
                </li>
                <li>
                    <a href="#computerSystem">Computer Systems</a>
                </li>
                <li>
                    <a href="#zone">Zones</a>
                </li>

                <li class="sidebar-brand">
                    <a href="#query1">
                        Queries
                    </a>
                </li>
                <li>
                    <a href="#query1">Query 1</a>
                </li>
                <li>
                    <a href="#query2">Query 2</a>
                </li>
                <li>
                    <a href="#query3">Query 3</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Jurassic Park Database</h1>
                        <p>This site can be used to view the entity tables currently in the Jurassic Park Database. Several queries can also be viewed.

                        </p><p>If you have spotted a dinosaur in Jurassic Park lately, or if you plan on visiting, you can add your information to the Dinosaur or Visitor table and it will be stored in the database for all to see.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id = "dinosaur">
        <p>
        <h1>
        Dinosaurs
        </h1>
        </p>

        <table class = "table"> 
          <tr>
            <th>id</th>
            <th>Species</th>
            <th>Dietary Order</th>
            <th>Danger Level</th>
            <th>Contained</th> 
          </tr>
                {% for dinosaur in dinosaur_list %}
                <tr>
                <td>{{dinosaur.id}}</td>
                <td>{{dinosaur.species}}</td>
                <td>{{dinosaur.dietary_order}}</td>
                <td>{{dinosaur.threat_level}}</td>
                <td>{{dinosaur.contained}}</td>

                </tr>
                {% endfor %}
        </table>

<p><h3>Add an entry to Dinosaur:</h3>{{error_messageA}}</p>
        <form action="/#dinosaur" name="dinosaur" method="post">{% csrf_token %}
    <label for="your_name">id: </label>
    <input id="your_name" type="text" name="id" value="{{ current_name }}" placeholder="No existing ids">
    
    <label for="your_name">Species: </label>
    <input id="your_name" type="text" name="species" value="{{ current_name }}" >

    <label for="your_name">Dietary Order: </label>
    <input id="your_name" type="text" name="dietary_order" value="{{ current_name }}">
    
    <label for="your_name">Threat Level: </label>
    <input id="your_name" type="text" name="threat_level" value="{{ current_name }}" placeholder="0 to 10">
    
    <label for="your_name">Contained: </label>
    <input id="your_name" type="text" name="contained" value="{{ current_name }}" placeholder="0 or 1">
    
    <input type="submit" value="OK" name="dinosaur">
</form>

        </div>

        <div id = "visitor">

        <p>
        <h1>
       Visitors
        </h1>
        </p>
        <table class = "table"> 
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Strikes</th>
          </tr>
                {% for visitor in visitor_list %}
                <tr>
                <td>{{visitor.id}}</td>
                <td>{{visitor.name}}</td>
                <td>{{visitor.strikes}}</td>
                </tr>
                {% endfor %}
        </table>
        <!-- /#page-content-wrapper -->
<p><h3>Add an entry to Visitor:</h3>{{error_messageB}}</p>
        <form action="/#visitor" name="dinosaur" method="post">{% csrf_token %}
    <label for="your_name">id: </label>
    <input id="your_name" type="text" name="id" value="{{ current_name }}" placeholder="No existing ids">
    
    <label for="your_name">name: </label>
    <input id="your_name" type="text" name="name" value="{{ current_name }}" >

    <label for="your_name">Strikes: </label>
    <input id="your_name" type="text" name="strikes" value="{{ current_name }}" placeholder="0-3">
    
    
    <input type="submit" value="OK" name="visitor">
</form>
</div>
        <div id = "employee">

        <p>
        <h1>
       Employees
        </h1>
        </p>
        <table class = "table"> 
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Job</th>
                        <th>Salary</th>
                         <th>Security Clearance</th>
                       

          </tr>
                {% for employee in employee_list %}
                <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.job}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.security_clearance}}</td>

                </tr>
                {% endfor %}
        </table>
        <!-- /#page-content-wrapper -->
        </div>

        <div id = "exhibit">

        <p>
        <h1>
       Exhibits
        </h1>
        </p>
        <table class = "table"> 
          <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Revenue</th>
                        <th>Date Last Maintained</th>

          </tr>
                {% for visitor in exhibit_list %}
                <tr>
                <td>{{visitor.name}}</td>
                <td>{{visitor.cost}}</td>
                <td>{{visitor.revenue}}</td>
                <td>{{visitor.date_last_maintained}}</td>
                </tr>
                {% endfor %}
        </table>
        <!-- /#page-content-wrapper -->
        </div>

        <div id = "computerSystem">

        <p>
        <h1>
       Computer Systems
        </h1>
        </p>
        <table class = "table"> 
          <tr>
            <th>id</th>
            <th>Description</th>
            <th>Online</th>
          </tr>
                {% for visitor in computerSystem_list %}
                <tr>
                <td>{{visitor.id}}</td>
                <td>{{visitor.description}}</td>
                <td>{{visitor.online}}</td>
                </tr>
                {% endfor %}
        </table>
        </div>
        <div id = "zone">
        <p>
        <h1>
       Zones
        </h1>
        </p>
        <table class = "table"> 
          <tr>
            <th>Name</th>
            <th>Ecosystem</th>
            <th>Lockdown Status</th>
          </tr>
                {% for visitor in zone_list %}
                <tr>
                <td>{{visitor.number}}</td>
                <td>{{visitor.ecosystem}}</td>
                <td>{{visitor.lockdown_status}}</td>
                </tr>
                {% endfor %}
        </table>
</div>

        <div id = "query1">
        <p>
        <h1>
       Query 1
        </h1>
        The park is in danger! Several regions (zones) of Jurassic Park are currently under lockdown. Find the names and locations of visitors in zones that are currently under lockdown, so that they can be rescued. 
        </p>
        <table class = "table"> 
          <tr>
            <th>Visitor Name</th>
            <th>Zone Number</th>
            <th>Zone Lockdown Status</th>
            <th>X coord</th>
            <th>Y coord</th>

          </tr>
                {% for visitor in query1 %}
                <tr>
                <td>{{visitor.name}}</td>
                <td>{{visitor.number}}</td>
                <td>{{visitor.lockdown_status}}</td>
                <td>{{visitor.x_coord}}</td>
                <td>{{visitor.y_coord}}</td>

                </tr>
                {% endfor %}
        </table>
</div>

        <div id = "query2">
        <p>
        <h1>
       Query 2
        </h1>
        In a locked down zone, any dinosaur present can represent a potential danger. Find the species and number of dinosaurs in the locked down zones.
        </p>
        <table class = "table"> 
          <tr>
            <th>Species</th>
            <th>Zone Number</th>
            <th>Count</th>
          </tr>
                {% for visitor in query2 %}
                <tr>
                <td>{{visitor.species}}</td>
                <td>{{visitor.zone}}</td>
                <td>{{visitor.count}}</td>
                </tr>
                {% endfor %}
        </table>
</div>

        <div id = "query3">
        <p>
        <h1>
       Query 3
        </h1>
        The park authorities may not be able to arrive in time to help the visitors. What pairs of visitors are close enough to help each other? (Which visitors are in the same zone and within a 30 coordinate radius of each other?)
        </p>
        <table class = "table"> 
          <tr>
            <th>Visitor Name</th>
            <th>Visitor Name</th>
          </tr>
                {% for visitor in query3 %}
                <tr>
                <td>{{visitor.aname}}</td>
                <td>{{visitor.bname}}</td>
                </tr>
                {% endfor %}
        </table>
</div>

        <!-- /#page-content-wrapper -->
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'jp/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'jp/js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $("#dinosaur").click(function(e) {
        document.getElementById("p1").innerHTML = "New text!";    });
    </script>

</body>

</html>
